@use '../../../../assets/styles/constants.scss' as *;
@import '../../../../assets/styles/buttons.scss';

.currencies {
  width: 100%;
  box-sizing: border-box;

  margin-bottom: 22px;

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    color: $color__grey__60;
  }
}

/** CURRENCIES BTNS **/
.currencies__wrapper {
  @extend .buttons;

  gap: 16px;
}

.currencies__item {
  @extend .buttons__button;

  font-size: 14px;
  font-weight: 500;
  line-height: 22px;

  background: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &_active {
    @extend .buttons__button_selected;
    color: $color__black;
  }
}
