@use '../../../../assets/styles/constants.scss' as *;

.currencies {
  width: 100%;
  box-sizing: border-box;

  margin-bottom: 22px;
}

.currencies__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;

  color: $color__grey__60;
}

.currencies__wrapper {
  display: flex;
  flex-direction: row;

  gap: 16px;
}

.currencies__item {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

  background: transparent;
  border: none;

  position: relative;
  color: $color__grey__60;
  text-decoration: none;
}

.currencies__item:hover {
  cursor: pointer;
}

.currencies__item_active {
  color: $color__black;
}

.currencies__item_active::after {
  position: absolute;
  left: 0;
  bottom: -6px;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: $color__brown;
  opacity: 1;

  border-radius: 4px;
}
