@use '../../../../assets/styles/constants.scss' as *;
@import '../../../../assets/styles/buttons.scss';
@import '../../../../assets/styles/breakpoints.scss';

.content {
  display: flex;
  flex-direction: column;

  gap: 24px;

  &__converter {
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    gap: 56px;

    @include for-desktop-small {
      flex-direction: column;
      gap: 2rem;

      & img {
        transform: rotate(90deg);
      }
    }

    @include for-tablet-portrait-up {
      gap: 0.5rem;

      & img {
        height: 2rem;
      }
    }
  }

  & button {
    @extend .buttons__button;
  }
}
