@use '../../../../assets/styles/constants.scss' as *;
@import '../../../../assets/styles/buttons.scss';

.content {
  display: flex;
  flex-direction: column;

  gap: 24px;

  &__converter {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    gap: 56px;
  }

  & button {
    @extend .buttons__button;
  }
}
