.wrapper {
  width: 500px;
  height: 500px;
  border: 1px solid;

  padding: 30px;
}

.currencies {
  width: 100%;
  box-sizing: border-box;

  border: 1px solid gold;

  margin-bottom: 24px;
}

.currencies__wrapper {
  border: 1px solid;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-radius: 4px;
  overflow: hidden;
}

.currencies__item {
  padding: 12px 0;
  text-align: center;
  width: 100%;
  height: 100%;

  border-right: 1px solid;
}

.currencies__item:last-child {
  border-right: none;
}

.currencies__item_active {
  background: green;
}

.amount {
  border: 1px solid;

  padding: 18px;
}

.amount__input {
  border: none;
  outline: none;

  font-size: 28px;
}
