.wrapper {
  width: 500px;
  height: 500px;
  border: 1px solid;

  padding: 30px;
}

.amount {
  border: 1px solid;

  padding: 18px;
}

.amount__input {
  border: none;
  outline: none;

  font-size: 28px;
}
