@use '../../../../assets/styles/constants.scss' as *;

@import '../../../../assets/styles/buttons.scss';

.header {
  background: $color__black;

  padding: 12px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 30px;
  height: 32px;
  color: $color__brown;
}

/** TABS **/

.tabs {
  @extend .buttons;

  justify-content: space-between;
  align-items: center;

  gap: 40px;

  &__item {
    @extend .buttons__button;

    &_selected {
      @extend .buttons__button_selected;
    }
  }
}

/** PROFILE **/

.profile {
  display: flex;
  align-items: center;

  gap: 8px;

  &__photo {
    width: 32px;
    height: 32px;

    border-radius: 50%;
  }

  &__name {
    height: 22px;

    font-weight: 400;
    font-size: 0.9rem;

    color: $color__white;
  }
}
