@use '../../../../assets/styles/constants.scss' as *;

@import '../../../../assets/styles/buttons.scss';

.header {
  padding: 12px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $color__black;
}

.logo {
  width: 30px;
  height: 32px;
  color: $color__brown;
}

.profile {
  display: flex;
  align-items: center;

  gap: 8px;
}

.profile__photo {
  width: 32px;
  height: 32px;

  border-radius: 50%;
}

.profile__name {
  height: 22px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: $color__white;
}

/** TABS **/

.tabs {
  @extend .buttons;

  justify-content: space-between;
  align-items: center;

  gap: 40px;

  &__item {
    @extend .buttons__button;

    &_selected {
      @extend .buttons__button_selected;
    }
  }
}
