@use '../../../../assets/styles/constants.scss' as *;

.header {
  padding: 12px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $color__black;
}

.logo {
  width: 30px;
  height: 32px;
  color: $color__brown;
}

.profile {
  display: flex;
  align-items: center;

  gap: 8px;
}

.profile__photo {
  width: 32px;
  height: 32px;

  border-radius: 50%;
}

.profile__name {
  height: 22px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: $color__white;
}

/** TABS **/
.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 40px;
}

.tabs__item {
  position: relative;
  color: $color__grey__60;
  text-decoration: none;
}

.tabs__item_selected {
  color: $color__white;
}

.tabs__item_selected::after {
  position: absolute;
  left: 0;
  bottom: -6px;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: $color__brown;
  opacity: 1;

  border-radius: 4px;
}
