@use '../../assets/styles/constants.scss' as *;

.page {
  display: flex;
  flex-direction: column;

  & header {
    flex: 0 0 auto;
  }

  &__name {
    font-size: 2rem;
    font-weight: 700;
    line-height: 40px;
  }

  & main {
    flex: 1 0 auto;

    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 40px 240px;
  }

  & footer {
    flex: 0 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;

    padding: 12px 40px;

    font-size: 0.8rem;

    & p {
      word-wrap: break-word;
    }
  }

  &__links {
    display: flex;
    justify-content: right;
    gap: 1rem;

    & img {
      width: 2rem;
      height: 2rem;
    }
  }
}
