@use '../../assets/styles/constants.scss' as *;

.wrapper {
  font-family: 'Montserrat', sans-serif;
}

.page {
  display: flex;
  flex-direction: column;

  gap: 24px;

  padding: 40px 240px;
}

.page__name {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;

  margin: 0px;

  color: $color__black;
}
