.wrapper {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid red;
}

.page {
  height: 95vh;
  width: 95vh;
  border: 1px solid;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tabs__item {
  width: 50%;
  height: 40px;
  padding: 0;

  border: 1px solid;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #000;
  text-decoration: none;
}

.content {
  padding: 16px;
  margin-top: 24px;

  border: 1px solid green;
}
