@use '../../assets/styles/constants.scss' as *;

.page {
  width: 100vw;
  height: 100vh;

  font-family: 'Montserrat', sans-serif;
  & p {
    margin: 0px;
  }

  &__name {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;

    color: $color__black;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 40px 240px;
  }
}
