@use '../../../../assets/styles/constants.scss' as *;

.input {
  border: 2px solid $color__grey__50;
  border-radius: 5px;

  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__input {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;

    margin-bottom: 32px;

    color: $color__black;

    /** REMOVE DEFAULT BROWSER BEHAVIOR **/
    &,
    &:focus {
      border: none;
      outline: none;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }

  &__course {
    font-size: 14px;
    font-weight: 400;

    color: $color__grey__70;
  }
}
