@use '../../../../assets/styles/constants.scss' as *;

.input {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 1rem;

  padding: 1rem;

  border: 2px solid $color__grey__50;
  border-radius: 5px;

  &__field {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.1rem;

    &,
    &:focus {
      border: none;
      outline: none;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }

  &__course {
    color: $color__grey__70;
  }
}
