.converter__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.arrows__wrapper {
  display: flex;
  align-items: center;

  position: relative;
  top: 35px;
}

.arrows {
  width: 41px;
  height: 35px;
}

.arrows__button {
  cursor: pointer;

  outline: none;
  border: none;
  background: none;
}
