.converter__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.input {
  background-color: pink; // FOR REFACT, DELETE LATER
}

.arrows_wrapper {
  display: flex;
  align-items: center;
}

.arrows {
  width: 41px;
  height: 35px;
}
