.reverse {
  align-self: center;

  &__button {
    cursor: pointer;

    outline: none;
    border: none;
    background: none;
  }

  &__vertical {
    & img {
      transform: rotate(90deg);
    }
  }

  &__horizontal {
    position: relative;
    top: 35px;
  }
}
