.arrows {
  width: 41px;
  height: 35px;

  &__wrapper {
    display: flex;
    align-items: center;

    position: relative;
    top: 35px;
  }

  &__button {
    cursor: pointer;

    outline: none;
    border: none;
    background: none;
  }
}
