@use '../../../../assets/styles/constants.scss' as *;

.layout {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 8px;

  & > h3,
  p {
    margin: 0;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    color: $color__grey__60;
  }

  &__balance {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;

    & > span {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.content {
  display: flex;
  gap: 84px;

  align-items: center;

  /* TODO Deal with this hard-code shieeeet */
  height: 600px;

  &__coins {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &_button {
      width: fit-content;
      align-self: center;

      border: none;
      background: none;

      &:hover {
        color: $color__black;
      }

      & > span {
        font-weight: 500;
        color: $color__black;
        opacity: 0.8;
        cursor: pointer;

        padding-bottom: 1px;
        border-bottom: 2px solid $color__brown;
      }
    }
  }
}
