@use './constants.scss' as *;

.buttons {
  display: flex;
  flex-direction: row;

  &__button {
    position: relative;

    color: $color__grey__60;

    text-decoration: none;

    &_selected {
      color: $color__white;

      &::after {
        background-color: $color__brown;

        position: absolute;
        left: 0;
        bottom: -6px;
        display: block;
        content: '';

        width: 100%;
        height: 2px;

        opacity: 1;

        border-radius: 4px;
      }
    }
  }
}
