@use './constants.scss' as *;

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons__button {
  position: relative;
  color: $color__grey__60;
  text-decoration: none;
}

.buttons__button_selected {
  color: $color__white;
}

.buttons__button_selected::after {
  position: absolute;
  left: 0;
  bottom: -6px;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: $color__brown;
  opacity: 1;

  border-radius: 4px;
}
