$color__brown: #bf9f86;
$color__black: #27262d;
$color__white: #ffffff;
$color__grey: #f4f4f4;
$color__red: #bf868a;
$color__green: #86bfad;

$color__grey__10: #f8f8f8;
$color__grey__20: #f5f6fa;
$color__grey__30: #edeeef;
$color__grey__40: #e8e8e8;
$color__grey__50: #d3d4d3;
$color__grey__60: #a6a7a9;
$color__grey__70: #696a6e;

$color__BTC: rgba(201, 158, 204, 0.8);
$color__ETH: rgba(173, 149, 152, 0.8);
$color__USD: rgba(158, 184, 204, 0.8);
